* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 250, 252);
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(56, 178, 172);
    font-size: 24px;
}

.form-group {
    margin-top: 10px;
}

.form-label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #4A5568;
}

.js-form {
    max-width: 400px;
    background-color: white;
    padding: 20px 30px;
    padding-top: 40px;
    margin: 0 auto;
    border: 2px solid #EDF2F7;
}

select {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: #EDF2F7;
    border: 1px solid #EDF2F7;
    color: #4A5568;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 16px;
    line-height: 1.25;
    border-radius: 4px;
}

select:focus {
    outline: 0;
    background-color: white;
    border-color: #a0aec0;
}

.dropdown {
    position: relative;
}

.dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #4A5568;
    padding: 15px;
    font-size: 14px;
    pointer-events: none;
}

button {
    background: rgb(56, 178, 172);
    color: white;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
}

.actions {
    text-align: right;
}

.result-country {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4A5568;
}

.result-country img {
    margin-right: 20px;
}

.result-item {
    background: white;
    border: 2px solid #EDF2F7;
    margin-bottom: 20px;
    padding: 0 20px;
    color: #4A5568;
}

#js-error-message {
    color: #C53030;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#js-loading-message {
    text-align: center;
    margin-top: 20px;
}

.no-results {
    text-align: center;
    color: #C53030;
    font-weight: bold;
}
  
.hidden {
    display: none;
}

@media screen and (min-width:480px) {
    h1 {
        font-size: 28px;
    }

    #js-error-message {
        text-align: left;
    }    
}    
  
@media screen and (min-width:800px) {
    h1 {
        font-size: 32px;
    }
}